<!DOCTYPE html>
<html>
    <head>
        <title> Sana's Nails </title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <header> 
            <!--
            <ul>
                <li> <a href="index.html"> Home </a></li>
                <li> <a href="index.html"> Services </a></li>
                <li> <a href="index.html"> Pricing </a></li>
                <li> <a href="appointments.ejs"> Appointments </a></li>
                <li> <a href="index.html"> Portfolio </a></li>
            </ul>
            -->
        </header>

        <h1> About! </h1>

        <div> 
            <p> This is my about </p>
        </div>

        <footer> Contact me!
            sanamarediya@yahoo.com
            832-373-2976
            Location: 1216 Abigail Ln
            (Space for social media)
        </footer>

    </body>
</html>