<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title> Sana's Nails </title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>

    <body>
        <header> 
            <ul>
                <li> <a href=".."> Home </a></li>
                <li> <a href="services"> Services </a></li>
                <li> <a href="appointments"> Appointments </a></li>
                <li> <a class="active" href="portfolio"> Portfolio </a></li>
            </ul>
        </header>

        <h1> Welcome to my Portfolio </h1>


        <div class="row1">

            <!-- PIC COL 1 -->
            <div class="column">
                <div class="card">
                    <div style="width: 100%;">
                        <div class="overlay"> 
                            <p style="text-align: center;"> Additions: </p>
                            <p style="text-align: left;"> $5 medium nail tips </p>
                        </div> 
                        <img src="img/portfolio/1.jpg" alt="acrylics" style="width: 100%;">
                    </div>
                    <div style="padding: 10px;">
                        <p style="text-align: center;"> Acrylic Nails </p>
                        <p style="text-align: center;"> Cost: $45 </p>
                    </div>
                </div>
            </div>

            <!-- PIC COL 2 -->
            <div class="column">
                <div class="card">
                    <div style="width: 100%;">
                        <div class="overlay"> 
                            <p style="text-align: center;"> Additions: </p>
                            <p style="text-align: left;"> $5 medium nail tips </p>
                            <p style="text-align: left;"> $2/nail design </p>
                        </div>
                        <img src="img/portfolio/2.jpg" alt="acrylics" style="width: 100%;">
                    </div>
                    
                    <div style="padding: 10px;">
                        <p style="text-align: center;"> Acrylic Nails </p>
                        <p style="text-align: center;"> Cost: $65 </p>
                        
                    </div>
                </div>
            </div>

            <!-- PIC COL 3 -->
            <div class="column">
                <div class="card">
                    <div style="width: 100%;">
                        <div class="overlay"> 
                            <p style="text-align: center;"> Additions: none </p>
                        </div>
                        <img src="img/portfolio/3.jpg" alt="dip powder" style="width: 100%;">
                    </div>
                    
                    <div style="padding: 10px;">
                        <p style="text-align: center;"> Dip Powder Nails </p>
                        <p style="text-align: center;"> Cost: $30 </p>
                    </div>
                </div>
            </div>

            <!-- PIC COL 4 -->
            <div class="column">
                <div class="card">
                    <div style="width: 100%;">
                        <div class="overlay"> 
                            <p style="text-align: center;"> Additions: </p>
                            <p style="text-align: left;"> $4/nail heart design </p>
                            <p style="text-align: left;"> $3/per nail french + hearts </p>
                        </div>
                        <img src="img/portfolio/4.jpg" alt="gel nails" style="width: 100%;">
                    </div>
                    
                    <div style="padding: 11px;">
                        <p style="text-align: center;"> Gel Nails </p>
                        <p style="text-align: center;"> Cost: $52 </p>
                        <p>  </p>
                    </div>
                </div>
            </div>

            <!-- PIC COL 5 -->
            <div class="column">
                <div class="card">
                    <div style="width: 100%;">
                        <div class="overlay"> 
                            <p style="text-align: center;"> Additions: </p>
                            <p style="text-align: left;"> $10 long nail tips </p>
                            <p style="text-align: left;"> $3/nail design </p>
                        </div>
                        <img src="img/portfolio/5.jpg" alt="acrylics" style="width: 100%;">
                    </div>
                    <div style="padding: 10px;">
                        <p style="text-align: center;"> Acrylic Nails </p>
                        <p style="text-align: center;"> Cost: $80 </p>
                    </div>
                </div>
            </div>

           <!-- PIC COL 6 -->
            <div class="column">
                <div class="card">
                    <div style="width: 100%;">
                        <div class="overlay"> 
                            <p style="text-align: center;"> Additions: </p>
                            <p style="text-align: left;"> $5 medium length tips </p>
                            <p style="text-align: left;"> $2/nail decals </p>
                        </div>
                        <img src="img/portfolio/6.jpg" alt="dip powder" style="width: 100%;">
                    </div>
                    <div style="padding: 10px;">
                        <p style="text-align: center;"> Dip Powder Nails </p>
                        <p style="text-align: center;"> Cost: $55 </p>
                    </div>
                </div>
            </div>

        </div>
    

    
        <footer> 
            <div class="container-fluid">
                <div class="row" style="height: 20vw;">
                    <div class="col-xs-4" style="background-color: white; height: 20vw;">
                        <img src="img/this.jpg" alt="Logo" style="height: 20vw;">
                    </div>
                    <div class="col-xs-8" style="background-color: white; height: 20vw;">
                        <div class="box">
                            <h5> LEARN MORE </h5>
                            <p style="font-size: 1vw;"> Click below to see the services I offer! </p>
                            <div> <a style="padding: 0.5vw;" href="services"> SERVICES </a></div>
                        </div>
                        <div class="text">
                            <p style="font-size: 2vw;"> CONTACT ME! </p>
                            <p> email@gmail.com </p>
                            <p> 123-456-7890 </p>
                            <p> Location: 123 Main Street, TX, 71234 </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>