<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title> Sana's Nails </title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>

    <body>
        <header> 
            <ul>
                <li> <a href=".."> Home </a></li>
                <li> <a class="active" href="services"> Services </a></li>
                <li> <a href="appointments"> Appointments </a></li>
                <li> <a href="portfolio"> Portfolio </a></li>
            </ul>
        </header>

        <h1> Services </h1>
        

        <div class="services"> 
            <div class="info_image"> 
                <div class="words">
                    <h2> Gel Polish </h2>
                    <h3> Time: 30-45 mins </h3>
                    <h3> Base Price: $20 </h3>
                    <p style="text-decoration-line: underline;"> Add Ons </p>
                    <p> Designs, foils, etc: $1-$4 per nail </p>
                    <p> Swarovski Crystals: $3-$6 per nail </p>
                </div>
                <div class="pic">
                    <img src="img/gel.jpg" alt="gel nails" style="width: 281px; height: 281px;">
                </div>
            </div>

            <div class="info_image"> 
                <div class="pic">
                    <img src="img/acrylic.jpg" alt="acrylics" style="width: 281px; height: 281px;">
                </div>
                <div class="words">
                    <h2> Acrylic </h2>
                    <h3> Time: 45 mins-1.5 hrs </h3>
                    <h3> Base Price: $40 </h3>
                    <p style="text-decoration-line: underline;"> Add Ons </p>
                    <p> Designs, foils, etc: $1-$4 per nail </p>
                    <p> Swarovski Crystals: $3-$6 per nail </p>
                    <p> Nail tips length: medium: $5/set, </p>
                    <p> long: $10/set, x-long: $15/set </p>
                </div>
            </div>

            <div class="info_image"> 
                <div class="words">
                    <h2> Dip Powder </h2>
                    <h3> Time: 30-45 mins</h3>
                    <h3> Base Price: $30 </h3>
                    <p style="text-decoration-line: underline;"> Add Ons </p>
                    <p> Designs, foils, etc: $1-$4 per nail </p>
                    <p> Swarovski Crystals: $3-$6 per nail </p>
                    <p> Nail tips length: medium: $5/set, </p>
                    <p> long: $10/set, x-long: $15/set </p>
                </div>
                <div class="pic">
                    <img src="img/dip.jpg" alt="dip powder" style="width: 281px; height: 281px;">
                </div>
            </div>
        </div>

        <footer> 
            <div class="container-fluid">
                <div class="row" style="height: 20vw;">
                    <div class="col-xs-4" style="background-color: white; height: 20vw;">
                        <img src="img/this.jpg" alt="Logo" style="height: 20vw;">
                    </div>
                    <div class="col-xs-8" style="background-color: white; height: 20vw;">
                        <div class="box">
                            <h5> LEARN MORE </h5>
                            <p style="font-size: 1vw;"> Click below to see the services I offer! </p>
                            <div> <a style="padding: 0.5vw;" href="services"> SERVICES </a></div>
                        </div>
                        <div class="text">
                            <p style="font-size: 2vw;"> CONTACT ME! </p>
                            <p> email@gmail.com </p>
                            <p> 123-456-7890 </p>
                            <p> Location: 123 Main Street, TX, 71234 </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>